
<h1>show lecture</h1>
<p><%= @lecture.content.html_safe %></p>
<br>
 <% if user_signed_in? %>
    <% if @lecture.user_id == current_user.id %>
        <%= link_to "Edit",edit_course_lecture_path ,:class => "btn btn-success"%> |
        <%= link_to "Delete", course_lecture_path(:id =>@lecture.id,:course_id => @lecture.course_id) ,method: :delete ,data: { confirm: "Are you sure?"} ,:class => "btn btn-danger" %>
    <%end%>
   <% if @lecture.attachment.blank? %>
    <h3>NO Attachment available</h3>

   <% else %>
    <br>
    <br>
    <a class="btn btn-info glyphicon glyphicon-file" href="<%= @lecture.attachment %>">download pdf</a>
 <% end %>
<br>
<br>
<br>
<div class="row>">
    <div class="caption col-md-1" style="text-align: center; "><%= link_to like_course_lecture_path ,class: "like",method: :put do %>
        <button type="button" class="btn btn-info">
        <span class="glyphicon glyphicon-thumbs-up glyphicon-align-center"/>
        <span class="badge"><%= @lecture.get_upvotes.size %>
        </button> 
        <% end %>    

    </div>
<div class="caption col-md-1" style="text-align: center; "><%= link_to unlike_course_lecture_path ,class: "like",method: :put do %>
    <button type="button" class="btn btn-danger">
        <span class="glyphicon glyphicon-thumbs-down glyphicon-align-center"></span>
    <span class="badge"><%= @lecture.get_downvotes.size %></span>
    </button> 
    <% end %>    

</div>
</div>
<div class="row">
    <div class="col-xs-12">
      <%= commontator_thread(@lecture) %>
    </div>
</div>

<%  end %>